[Unit]
Description=depth_check
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/TriangularTradingBot/
ExecStart=/home/TriangularTradingBot/env/bin/python3 depth_check.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target