[Unit]
Description=search_for_perspective
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/TriangularTradingBot/
ExecStart=/home/TriangularTradingBot/env/bin/python3 -m search_for_perspective
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target